/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');




#datetime-picker {
  font-family: sans-serif;
  font-size: 18px;
  padding: 8px 12px;
  border: 1px solid #b6b6b6;
  border-radius: 0px;
  outline: none;
  width: 250px;
  color: #333333;
  box-sizing: border-box;
}

#datetime-picker:disabled {
  background-color: #fafafa;
  color: #cccccc;
  border-color: #e0e0e0;
  cursor: not-allowed;
}

button[data-start] {
  font-family: sans-serif;
  font-size: 18px;
  padding: 8px 16px;
  border: 1px solid #b6b6b6;
  border-radius: 0px;
  background-color: #ffffff;
  color: #333333;
  margin-left: 8px;
  
  cursor: pointer;
  height: 39px;
  
  box-sizing: border-box;
  transition: all 0.2s ease;
}


button[data-start]:disabled {
  background-color: #fafafa;
  color: #cccccc;
  border-color: #e0e0e0;
  cursor: not-allowed;
}

.timer {
  display: flex;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
  font-variant-numeric: tabular-nums;
}

.label {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  margin-top: 8px;
}

